<% include partials/header  %>

  <h3>Login Form</h3>
  <form action="/login" method="POST">
    <input type="text" placeholder="Enter username" name="username" required>
    <input type="password" placeholder="Enter password" name="password" required>
    <input type="submit">
  </form>

  <% include partials/footer  %>