<% include partials/header  %>

  <h1>Leave a comment</h1>

  <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
    <!-- <input type="text" placeholder="Enter Author Name" name="author"> -->
    <input type="text" placeholder="Enter Comment" name="content">
    <input type="submit">
  </form>

  <% include partials/footer  %>