<% include partials/header  %>

  <h1>Sign Up</h1>

  <form action="/register" method="POST">
    <input type="text" placeholder="Enter username" name="username" required>
    <input type="password" placeholder="Enter password" name="password" required>
    <input type="submit">
  </form>

  <% include partials/footer  %>